.nav-list {
    list-style: none;
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
    i {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-image {
        width: 25px;
        opacity: 0.6;
    }
    &__item {
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        line-height: 16px;
        padding: 10px 13px;
        cursor: pointer;
        margin-bottom: 5px;
        
        &_active {
            box-shadow: 1px 2px 6px #e3e3e3;
            background-color: #fff;
        }
        &:hover {
            transition: .4s;
            box-shadow: 1px 2px 6px #e3e3e3;
        }
        &:hover img {
            transition: .4s;
            opacity: 1;
        }
        &:hover .nav-list__delete-item {
            opacity: 0.3;
        }
        .nav-list__delete-item {
            position: absolute;
            right: 30px;
            width: 15px;
            height: 15px;
            opacity: 0;
            &:hover {
                opacity: 1;
            }
            &::before, &::after {
                position: absolute;
                right: 7px;
                content: ' ';
                height: 16px;
                width: 2px;
                background-color: #333;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    &__item-text {
        font-size: 16px;
        margin-left: 15px;
    }
}
