.task {
    position: relative;
    display: flex;
    align-items: center;
    &:hover &__edit, &:hover &__delete {
        opacity: 0.3;
    }
    .task__edit:hover, .task__delete:hover {
            opacity: 1;
            background-color: rgb(236, 236, 236);
            border-radius: 3px;
        }
    &__custom-check {
        &::before {
            cursor: pointer;
            content: '';
            background-size: 100%;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            border-radius: 50%;
            border: 2px solid rgb(170, 170, 170);
            margin-right: 15px;
            transform: translateY(-4%);
        }
    }
    &__check {
        display: none;
        transition: background-image .2s ease-in-out;
        &:hover + .task__custom-check::before {
            border: none;
            width: 24px;
            height: 24px;
            background-image: url('../../../assets/img/check_hover.png');
            transition: background-image .2s ease-in-out;
        }
        &:checked + .task__custom-check::before {
            content: '';
            width: 24px;
            height: 24px;
            border: none;
            background-image: url('../../../assets/img/check.png');
            transition: background-image .2s ease-in-out;
        }
    } 
    &__text {
        font-size: 22px;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px;
        transition: .1s ease-in-out;
    }
    &__controls {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    &__edit {
        box-sizing: content-box;
        padding: 3px;
        width: 20px;
        cursor: pointer;
        opacity: 0;
        margin-right: 10px;
        &:hover {
            opacity: 1;
        }
    }
    &__delete {
        box-sizing: content-box;
        padding: 3px;
        padding: 3px;
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        opacity: 0;
        &::before, &::after {
            position: absolute;
            left: 12px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #333;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}